<table>
  <tr>
    <th>#      </th>
    <th>Created Subject</th>
  </tr>
  <tr *ngFor = "let card of getCards(); let i = index">
        <td>{{i + 1}}</td>
        <td>{{card.subject}}</td>
        <button (click) = "OpenSubject(i)">Open subject</button>
  </tr>
</table>
<table>
  <tr>
    <th>#     </th>
    <th>Question</th>
    <th>Answer</th>
    <th></th>
  </tr>
  <tr *ngFor="let card of tempCard; let i = index">
    <td>{{i + 1}}</td>
    <td>{{card.question}}</td>
    <td *ngIf="isVisable(i)"> {{card.answer}} </td>
    <button (click) = "displayAnswer(i)"> Display Answer</button>
    <button *ngIf="isVisable(i)" (click) = "displayQuestion(i)">Hide Answer</button>
  </tr>
</table>
<form [formGroup] = "cardBuilderForm" (ngSubmit) = "onSubmit()">
  <label>
    Search here:
    <input #store type="text"
    formControlName = "subject" required>
    <div>
      <button (click) = "search(store.value)">Search</button>
    </div>
  </label>
</form>
<table>
  <tr>
    <th>Search Results</th>
  </tr>
  <tr *ngFor="let cards of getCards(); let i = index">
   <td *ngIf="getSearchBoolean(i)">{{cards.subject}}</td>
  <<button *ngIf="getSearchBoolean(i)" (click) = "OpenSubject(i)">Open Subject</button> 
  </tr>
</table> 